.root {
  width: 100%;
  padding: 10px;
  transition: border 0.2s ease-in-out;
  min-height: 260px;
  margin-bottom: 90px;

  .newsBody {
    display: flex;
    align-items: center;

    img {
      margin-top: 5px;
      height: 300px;
    }

    .text {
      padding: 5px 20px 20px 20px;

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          font-size: 24px;
          font-weight: 400;
          margin-bottom: 10px;
        }

        .date {
          color: #50a060;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 10px;
        }
      }

      p {
        font-size: 16px;
      }
    }
  }

  .divider {
    margin: 30px auto;
    width: 90%;
    height: 1px;
    background: #cbcbcb;
  }

  .comments {
    .comment {
      padding: 0 45px;
      display: flex;
      margin-bottom: 20px;

      img {
        height: 25px;
      }

      .textSide {
        margin-left: 15px;

        .commentName {
          font-weight: 500;
          margin-bottom: 5px;
        }
      }
    }

    .myComment {
      padding: 0 45px;

      form {
        display: flex;

        img {
          height: 25px;
          margin-right: 15px;
        }

        div {
          display: flex;
          flex-direction: column;

          .commentName {
            font-weight: 500;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}
