.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease-out,
    visibility 0.3s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlayVisible {
  visibility: visible;
  opacity: 1;

  .clickArea {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
