.root {
  .news {
    margin: 130px auto;
    width: 900px;

    h2 {
      text-transform: uppercase;
      text-align: center;
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 50px;
    }

    /* .newsBody {} */
  }
}
