.root {
  background: #fff;
  width: 720px;
  border-radius: 6px;
  padding: 20px;

  h3 {
    margin-bottom: 20px;
  }

  form {
    .items {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin-bottom: 50px;

      .inputBox {
        display: flex;
        align-items: center;

        .inputLabel {
          width: 100px;
        }

        .clue {
          display: flex;
          flex-direction: column;
          gap: 5px;

          p {
            font-size: 12px;
          }
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }
  }
}
